name: SCA Scan Project 3

on:
  push:
    branches:
      - main

jobs:
  deploy-and-scan:
    name: Pull Docker Image and Install Trivy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Pull Docker Image
        run: docker pull lutherdocker1/devsecops_projects:latest

      - name: Install Trivy
        run: |
          curl -sfL https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo "deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main" | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update && sudo apt-get install -yq trivy

  build:
    name: Image Scan
    runs-on: ubuntu-latest
    needs: deploy-and-scan

    steps:
      - name: Run Trivy vulnerability scanner on Docker image
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'image'
          scanners: 'vuln'
          image-ref: lutherdocker1/devsecops_projects:latest
          hide-progress: false
          format: 'table'
          ignore-unfixed: true